<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" type="text/css"
                    href="~/lib/bootstrap/css/bootstrap-grid.min.css" />
</head>
<bod>
    <div class="container">
        <header class="jumbotron">
                <h1>My Movies</h1>
        </header>
        @RenderBody()
    </div>
</bod>
</html>